[Unit]
Description=PI Shutdown Button Service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=5
User=pi
ExecStart=/usr/bin/shutdownpi

[Install]
WanterBy=multi-user.target

