[Unit]
Description=PI Shutdown Button Service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=5
User=pi
ExecStart=/usr/bin/shutdownpi
WorkingDirectory=/home/pi

[Install]
WantedBy=multi-user.target

